.card.card-pending{
    border-bottom: none;
    box-shadow: 4px 8px 15px -3px rgba(201, 199, 199, 0.75);
}
section#home-page .card.card-pending{
    border-bottom: none;
    box-shadow: 4px 8px 15px -3px rgba(201, 199, 199, 0.75);
}
section#home-page .card.card-preparing{
    border-bottom: none;
    box-shadow: 4px 8px 15px -3px rgba(201, 199, 199, 0.75);
}
section#home-page .card.card-ready{
    border-bottom: none;
    box-shadow: 4px 8px 15px -3px rgba(201, 199, 199, 0.75);
}
section#home-page .card.card-dispatched{
    border-bottom: none;
    box-shadow: 4px 8px 15px -3px rgba(201, 199, 199, 0.75);
}
section#home-page .card.card-delivered{
    border-bottom: none;
    box-shadow: 4px 8px 15px -3px rgba(201, 199, 199, 0.75);
}
section#home-page .card.card-cancelled{
    border-bottom: none;
    box-shadow: 4px 8px 15px -3px rgba(201, 199, 199, 0.75);
}

#map {
    height: 400px;
    width: 100%;
  }