// custom css
a {
  color: #3e88eb;
}

.outlet-status {
  margin-top: 30px;
}

section#home-page h3 {
  margin-bottom: 15px;
  font-size: 16px;
}

.content-wrapper .content-header-title {
  font-size: 20px;
}

section#home-page .card {
  border-radius: 10px;
}

section#home-page .card .card-header {
  padding: 26px;
}

section#home-page .card.card-pending {
  border-bottom: 4px solid #6bbce7;
}

section#home-page .card.card-preparing {
  border-bottom: 4px solid #3de296;
}

section#home-page .card.card-ready {
  border-bottom: 4px solid #0eae88;
}

section#home-page .card.card-dispatched {
  border-bottom: 4px solid #098fc8;
}

section#home-page .card.card-delivered {
  border-bottom: 4px solid #0eae88;
}

section#home-page .card.card-cancelled {
  border-bottom: 4px solid #f8a267;
}

.avatar.bg-pending {
  background: rgba(107, 188, 231, 0.12) !important;
}

.avatar.bg-preparing {
  background: rgba(61, 226, 150, 0.12) !important;
}

.avatar.bg-ready {
  background: rgba(14, 174, 136, 0.12) !important;
}

.avatar.bg-dispatched {
  background: rgba(9, 143, 200, 0.12) !important;
}

.avatar.bg-delivered {
  background: rgba(14, 174, 136, 0.12) !important;
}

.avatar.bg-cancelled {
  background: rgba(248, 162, 103, 0.12) !important;
}

.main-menu.menu-light .navigation > li.active > a,
.main-menu.menu-dark .navigation > li.active > a {
  background: linear-gradient(118deg, #3e88eb, rgb(62 136 235 / 65%));
  box-shadow: 0 0 10px 1px rgb(62 136 235 / 60%);
  color: #fff;
  font-weight: 400;
  border-radius: 4px;
}

.user-image img {
  width: 150px;
}

.btn-primary {
  background: #3e88eb !important;
  border-radius: 10px;
  border-color: rgba(62, 136, 235, 0.6) !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #3e88eb !important;
}

.user-content .btn-primary {
  margin-top: 10px;
  width: 100%;
  height: 45px;
  line-height: 25px;
}

.main-menu .navbar-header .navbar-brand .brand-text {
  color: #3e88eb;
  padding-left: 1rem;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 0.01rem;
  font-size: 1.45rem;
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}

.text-primary,
.dark-layout .main-menu .collapse-toggle-icon {
  color: #3e88eb !important;
}

section#users-page .card {
  text-align: center;
  border-radius: 15px;
  border-bottom: 5px solid #77abf1;
}

.user-content h2 {
  font-size: 20px;
}

.user-content p {
  font-size: 18px;
  margin: 10px 0px;
}

.user-content {
  padding: 20px 0px 5px 0px;
}

// ngx-datatable css
.ngx-datatable.bootstrap {
  box-shadow: none;
  font-size: 13px;
}

.ngx-datatable {
  display: block;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-header {
  background-color: #f3f2f7;
  text-transform: uppercase;
  height: 40px !important;
  border-top: 1px solid #ebe9f1;
}

.ngx-datatable.bootstrap .datatable-header {
  height: unset !important;
}

.ngx-datatable .datatable-header {
  display: block;
  overflow: hidden;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner {
  white-space: nowrap;
}

.ngx-datatable .datatable-header .datatable-header-inner {
  -webkit-align-items: stretch;
  align-items: stretch;
}

.ngx-datatable .datatable-row-center,
.ngx-datatable .datatable-row-group,
.ngx-datatable .datatable-row-left,
.ngx-datatable .datatable-row-right {
  position: relative;
}

.ngx-datatable .datatable-row-left,
.ngx-datatable .datatable-row-right {
  z-index: 9;
}

.ngx-datatable .datatable-row-center,
.ngx-datatable .datatable-row-group,
.ngx-datatable .datatable-row-left,
.ngx-datatable .datatable-row-right {
  position: relative;
}

.ngx-datatable .datatable-body-row,
.ngx-datatable .datatable-header-inner,
.ngx-datatable .datatable-row-center {
  -o-flex-flow: row;
  display: flex;
  flex-direction: row;
  flex-flow: row;
}

.ngx-datatable.fixed-header
  .datatable-header
  .datatable-header-inner
  .datatable-header-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ngx-datatable.bootstrap.core-bootstrap
  .datatable-header
  .datatable-header-cell {
  border-bottom: 0;
  padding: 0.75rem 1rem;
  font-weight: 700;
  font-size: 0.8rem;
}

.ngx-datatable.fixed-header
  .datatable-header
  .datatable-header-inner
  .datatable-header-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
  vertical-align: bottom;
  padding: 0.75rem;
  border-bottom: 1px solid #d1d4d7;
}

.ngx-datatable .datatable-header .datatable-header-cell {
  display: inline-block;
  position: relative;
}

.ngx-datatable.bootstrap.core-bootstrap
  .datatable-header
  .datatable-header-cell-template-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1px;
}

.ngx-datatable
  .datatable-header
  .datatable-header-cell
  .datatable-header-cell-template-wrap {
  height: inherit;
}

.ngx-datatable .datatable-header .datatable-header-cell .resize-handle {
  cursor: ew-resize;
}

.ngx-datatable .datatable-header .datatable-header-cell .resize-handle,
.ngx-datatable
  .datatable-header
  .datatable-header-cell
  .resize-handle--not-resizable {
  bottom: 0;
  display: inline-block;
  padding: 0 4px;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 5px;
}

.ngx-datatable.scroll-horz .datatable-body {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.ngx-datatable.scroll-horz .datatable-body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.ngx-datatable .datatable-body {
  display: block;
  position: relative;
  z-index: 10;
}

.ngx-datatable .datatable-body .datatable-scroll {
  display: inline-block;
}

.ngx-datatable.fixed-row .datatable-scroll,
.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row {
  white-space: nowrap;
}

.ngx-datatable .datatable-body .datatable-row-wrapper {
  display: flex;
  flex-direction: column;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-body-row.datatable-row-even {
  background-color: transparent;
  background-color: initial;
}

.ngx-datatable.bootstrap
  .datatable-body
  .datatable-body-row.datatable-row-even {
  background-color: rgba(0, 0, 0, 0.05);
}

.ngx-datatable.fixed-row .datatable-scroll,
.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row {
  white-space: nowrap;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-body-row {
  border-color: #ebe9f1;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
  vertical-align: top;
  border-top: 1px solid #d1d4d7;
}

.ngx-datatable.fixed-row .datatable-scroll,
.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row {
  white-space: nowrap;
}

.ngx-datatable .datatable-body .datatable-body-row {
  outline: none;
}

.ngx-datatable .datatable-body .datatable-body-row {
  outline: none;
}

.ngx-datatable .datatable-body-row,
.ngx-datatable .datatable-header-inner,
.ngx-datatable .datatable-row-center {
  -o-flex-flow: row;
  display: flex;
  flex-direction: row;
  flex-flow: row;
}

.ngx-datatable .datatable-body .datatable-body-row > div {
  display: flex;
}

.ngx-datatable .datatable-body .datatable-body-row > div {
  display: flex;
}

.ngx-datatable .datatable-row-center,
.ngx-datatable .datatable-row-group,
.ngx-datatable .datatable-row-left,
.ngx-datatable .datatable-row-right {
  position: relative;
}

.ngx-datatable .datatable-row-left,
.ngx-datatable .datatable-row-right {
  z-index: 9;
}

.ngx-datatable .datatable-body .datatable-body-row > div {
  display: flex;
}

.ngx-datatable .datatable-body .datatable-body-row > div {
  display: flex;
}

.ngx-datatable .datatable-row-center,
.ngx-datatable .datatable-row-group,
.ngx-datatable .datatable-row-left,
.ngx-datatable .datatable-row-right {
  position: relative;
}

.ngx-datatable .datatable-body-row,
.ngx-datatable .datatable-header-inner,
.ngx-datatable .datatable-row-center {
  -o-flex-flow: row;
  display: flex;
  flex-direction: row;
  flex-flow: row;
}

.ngx-datatable.fixed-row
  .datatable-scroll
  .datatable-body-row
  .datatable-body-cell,
.ngx-datatable.fixed-row
  .datatable-scroll
  .datatable-body-row
  .datatable-body-group-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ngx-datatable.bootstrap.core-bootstrap
  .datatable-body-row
  .datatable-body-cell {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
}

.ngx-datatable.bootstrap
  .datatable-body
  .datatable-body-row
  .datatable-body-cell {
  padding: 0.75rem;
  text-align: left;
  vertical-align: top;
}

.ngx-datatable.fixed-row
  .datatable-scroll
  .datatable-body-row
  .datatable-body-cell,
.ngx-datatable.fixed-row
  .datatable-scroll
  .datatable-body-row
  .datatable-body-group-cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-body-cell {
  overflow: visible !important;
}

.ngx-datatable .datatable-body-cell,
.ngx-datatable .datatable-header-cell {
  display: inline-block;
  line-height: 1.625;
  overflow-x: hidden;
  vertical-align: top;
}

.ngx-datatable.bootstrap.core-bootstrap
  .datatable-body-row
  .datatable-body-cell-label
  .cell-line-height {
  line-height: 1.25;
}

/* Custom CSS for the scrollbar */
.custom-scrollbar {
  overflow-x: auto; /* Enable horizontal scrollbar */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

/* Optional: You can add a max-width to the cell if you want to limit the width */
.custom-scrollbar p {
  max-width: 180px; /* Adjust the max-width as per your requirement */
}

.badge.badge-light-success {
  background-color: rgba(40, 199, 111, 0.12);
  color: #28c76f !important;
}

.dropdown-menu[x-placement="bottom-left"],
.dropdown-menu[x-placement="bottom-right"] {
  margin-top: 0.5rem;
}

.dropdown-menu[x-placement^="bottom"],
.dropdown-menu[x-placement^="left"],
.dropdown-menu[x-placement^="right"],
.dropdown-menu[x-placement^="top"] {
  right: auto;
  bottom: auto;
}

.dropdown-menu .dropdown-item {
  width: auto;
  cursor: pointer;
}

.badge.badge-light-info {
  background-color: rgba(0, 207, 232, 0.12);
  color: #00cfe8 !important;
}

.badge.badge-light-primary {
  background-color: rgba(115, 103, 240, 0.12);
  color: #7367f0 !important;
}

.badge.badge-light-danger {
  background-color: rgba(234, 84, 85, 0.12);
  color: #ea5455 !important;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-footer {
  background-color: #fff;
  color: #636363;
  overflow: hidden;
  margin-bottom: 1rem;
}

.ngx-datatable.bootstrap .datatable-footer {
  background: #424242;
  color: #ededed;
  margin-top: -1px;
}

.ngx-datatable .datatable-footer {
  display: block;
  overflow: auto;
  width: 100%;
}

.ngx-datatable .datatable-footer .datatable-footer-inner {
  align-items: center;
  display: flex;
  width: 100%;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .page-count {
  color: #b9b9c3;
}

.ngx-datatable.bootstrap .datatable-footer .page-count {
  line-height: 50px;
  height: 50px;
  padding: 0 1.2rem;
}

.ngx-datatable .datatable-footer .page-count {
  flex: 1 1 20%;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager {
  margin: 0 10px;
  vertical-align: top;
}

.ngx-datatable .datatable-footer .datatable-pager {
  flex: 1 1 80%;
  text-align: right;
}

.ngx-datatable.bootstrap.core-bootstrap
  .datatable-footer
  .datatable-pager
  .pager {
  background-color: #f3f2f7;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  height: 36px;
}

.ngx-datatable .datatable-footer .datatable-pager .pager,
.ngx-datatable .datatable-footer .datatable-pager .pager li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ngx-datatable.bootstrap.core-bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li {
  margin: 2px 0 11px !important;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li {
  margin: 10px 0;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li,
.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  outline: none;
}

.ngx-datatable.bootstrap.core-bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li.disabled
  a {
  color: #b9b9c3;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li.disabled a {
  cursor: not-allowed;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li.disabled a {
  cursor: not-allowed;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager a {
  color: #636363;
  line-height: 20px;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  cursor: pointer;
  display: inline-block;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li,
.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  outline: none;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  cursor: pointer;
  display: inline-block;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li,
.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  outline: none;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  height: 22px;
  min-width: 24px;
  line-height: 22px;
  padding: 0;
  border-radius: 3px;
  margin: 0 3px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  vertical-align: bottom;
  color: #ededed;
}

.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-left,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-prev,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-right,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-skip {
  font-size: 18px;
  line-height: 27px;
  padding: 0 3px;
}

.datatable-icon-prev:before {
  content: "\72";
}

.datatable-icon-left:before {
  content: "\6f";
}

[class*=" datatable-icon-"]:before,
[class^="datatable-icon-"]:before,
[data-icon]:before {
  font-family: data-table !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-feature-settings: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ngx-datatable.bootstrap.core-bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled).active,
.ngx-datatable.bootstrap.core-bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled).active:hover {
  vertical-align: sub;
}

.ngx-datatable.bootstrap.core-bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li {
  margin: 2px 0 11px !important;
}

.ngx-datatable.bootstrap.core-bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled).active:hover
  a,
.ngx-datatable.bootstrap.core-bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled).active
  a {
  background-color: #7367f0 !important;
  color: #fff !important;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 5px;
}

.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled).active
  a,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled):hover
  a {
  background-color: #545454;
  font-weight: 700;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager a {
  color: #636363;
  line-height: 20px;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  cursor: pointer;
  display: inline-block;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li,
.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  outline: none;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager a {
  color: #636363;
  line-height: 20px;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  cursor: pointer;
  display: inline-block;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li,
.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  outline: none;
}

button.csv-export {
  padding: 6px 15px;
  margin: -15px 10px 0px 10px;
  border-color: #d8d6de !important;
}

.dark-layout .datatable-header,
.dark-layout .datatable-header-inner {
  background-color: #343d55 !important;
  border-top: 1px solid #3b4253 !important;
}

.dark-layout .datatable-body {
  background-color: #283046 !important;
}

.dark-layout .ngx-datatable.bootstrap.core-bootstrap .datatable-footer {
  background-color: #283046 !important;
}

@media (max-width: 768px) {
  .page-count {
    display: none;
  }

  .datatable-pager {
    text-align: center !important;
    margin: 0 !important;
  }
}

@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: inline;
    display: initial;
  }

  .mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: inline;
    display: initial;
  }
}

.dark-layout .datatable-header,
.dark-layout .datatable-header-inner {
  background-color: #343d55 !important;
  border-top: 1px solid #3b4253 !important;
}

.dark-layout .ngx-datatable.bootstrap.core-bootstrap .datatable-footer {
  background-color: #283046 !important;
}

.dark-layout
  .ngx-datatable.bootstrap.core-bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li.disabled
  a {
  color: #636363;
}

.dark-layout
  .ngx-datatable.bootstrap.core-bootstrap
  .datatable-footer
  .datatable-pager
  a {
  color: #b4b7bd;
}

.dark-layout .datatable-body-row {
  border-color: #3b4253 !important;
}

.dark-layout .datatable-body-row.active {
  background-color: #283046 !important;
  color: inherit !important;
}

.dark-layout .datatable-body {
  background-color: #283046 !important;
}

.dark-layout .pager {
  background-color: #242b3d !important;
}

.datatable-scroll {
  width: auto !important;
}

// data table end

// outlet details
img.card-img-top {
  height: 300px;
  object-fit: cover;
  border-radius: 0;
}

section#outlet-details-page .card-header {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

section#outlet-details-page .nav-vertical ul {
  margin: 0 !important;
}

section#outlet-details-page .tab-pane {
  padding: 0;
  border-left: 1px solid #f3f3f3;
}

section#outlet-details-page .card-profile .card-body .profile-image-wrapper {
  display: block;
  text-align: left !important;
}

.card-profile {
  text-align: left !important;
}

.outlet-btn-sec button {
  margin-left: 10px;
}

.nav-tabs .nav-link.active {
  color: #3e88eb;
}

.details-section h4 {
  position: relative;
  margin-bottom: 30px;
  color: #464646 !important;
}

.details-section h4:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 50px;
  background: #3e88eb;
}

.nav-tabs .nav-link:after {
  background: linear-gradient(
    30deg,
    #3e88eb,
    rgba(62, 136, 235, 0.5)
  ) !important;
}

.card.card-profile {
  border-top: 1px solid #f3f3f3;
}

.date-range input {
  background: #fff !important;
  width: 230px;
}

section#order-history-page .csv-export {
  position: relative;
  top: -2px;
  margin-left: 0;
}

.horizontal.timeline {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0;
}

.horizontal.timeline:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.2em;
  background-color: #f2f2f2;
}

.horizontal.timeline .line {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.2em;
  background-color: #8897ec;
}

.horizontal.timeline .steps {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.horizontal.timeline .steps .step {
  display: block;
  position: relative;
  bottom: calc(100% + 1em);
  padding: 0.33em;
  margin: 0 2em;
  box-sizing: content-box;
  color: #8897ec;
  background-color: currentColor;
  border: 0.25em solid white;
  border-radius: 50%;
  z-index: 500;
}

.horizontal.timeline .steps .step:first-child {
  margin-left: 0;
}

.horizontal.timeline .steps .step:last-child {
  margin-right: 0;
  color: #71cb35;
}

.horizontal.timeline .steps .current:last-child {
  margin-right: 0;
  color: red;
}
.horizontal.timeline .steps .step span.status {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #000;
  opacity: 0.4;
}

.horizontal.timeline .steps .step span.timing {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #000;
  opacity: 0.4;
}

.order-timeline {
  padding: 10px 40px 0px 40px;
  margin-bottom: 80px;
}

.horizontal.timeline .steps .step.current:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  animation-name: animation-timeline-current;
  animation-name: animation-timeline-step;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.horizontal.timeline .steps .step:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  animation-name: animation-timeline-current;
  animation-name: animation-timeline-step;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.horizontal.timeline .steps .step.current span {
  opacity: 0.8;
}

@keyframes animation-timeline-current {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes animation-timeline-step {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.ticket-page .card .card-body .card {
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1) !important;
}

.ticket-wrong-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 20px;
}

div#outlet-menu-page .card-body {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.employee-task button {
  padding: 0;
  border: none;
  outline: navajowhite;
  background: no-repeat;
}

div#outlet-menu-page .card-header button {
  padding: 8px 12px;
}

.card.offer-box {
  background: linear-gradient(
    118deg,
    rgba(62, 136, 235, 0.42),
    rgb(62, 136, 235)
  );
  border-bottom: 6px solid #6786f8;
  border-radius: 15px;
  color: #fff;
  text-align: center;
}

.card.offer-box h4,
.card.offer-box h5 {
  color: #fff;
}

a.offer-outlet p {
  font-size: 13px;
  margin-top: 20px;
}

a.offer-outlet h5 {
  margin: 0;
}

.card.offer-box button.btn.btn-offer-edit i {
  color: #09a52b;
}

.card.offer-box button.btn.btn-offer-edit {
  position: absolute;
  left: 0;
  top: 0;
  background: #cbebd1;
  border-radius: 15px 0px 45px 0px;
  padding: 10px 15px;
}

.card.offer-box button.btn.btn-offer-delete i {
  color: #ea5455;
}

.card.offer-box button.btn.btn-offer-delete {
  position: absolute;
  right: 0;
  top: 0px;
  background: #d1cabf;
  border-radius: 0px 15px 0px 45px;
  padding: 10px 15px;
}

.btn-outline-primary {
  border: 1px solid #3e88eb !important;
  background-color: transparent;
  color: #3e88eb;
}

#order-page .nav-pills .nav-link.active {
  border-color: #7badf2;
  box-shadow: 0 4px 18px -4px rgb(127 176 242 / 78%);
}

#order-page .nav-pills .nav-link.active,
#order-page .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #619eef;
}

#order-page .nav-pills .nav-link {
  border: 2px solid #77abf1;
  color: #77abf1;
}

#order-page li.nav-item {
  margin-right: 10px;
}

section.order-details-page i {
  color: #3e88eb;
}

.customer-details {
  padding: 0px 50px;
}

section.order-details-page h4:after {
  position: absolute;
  bottom: -10px;
  content: "";
  background: #3e88eb;
  height: 2px;
  width: 50px;
  left: 0;
}

section.order-details-page h4 {
  position: relative;
  margin-bottom: 30px !important;
}

.promo {
  height: auto;
  width: 100%;
  background: url(../images/pages/users/promo.png);
  background-size: cover;
  background-position: bottom;
  padding: 50px;
  text-align: center;
  position: relative;
  border-radius: 15px 15px 0px 0px;
}

.promo button.btn.btn-offer-edit i {
  color: #09a52b;
}

.promo button.btn.btn-offer-edit {
  position: absolute;
  left: 0;
  top: 0;
  background: #cbebd1;
  border-radius: 15px 0px 45px 0px;
  padding: 10px 15px;
}

.promo button.btn.btn-offer-delete i {
  color: #ea5455;
}

.promo button.btn.btn-offer-delete {
  position: absolute;
  right: 0;
  top: 0px;
  background: #d1cabf;
  border-radius: 0px 15px 0px 45px;
  padding: 10px 15px;
}

.promo-box {
  // box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  border-radius: 0px 0px 15px 15px;
  border-bottom: 4px solid #6786f8;
}

.promo-content-body {
  padding: 20px 15px;
}

.promo-content-body {
  padding: 20px 15px;
}

.promo-content-body ul li {
  margin-top: 10px;
}

.promo-content-body button {
  width: 100%;
  margin-top: 15px;
}

.btn-outline-primary:hover {
  color: #4b90ed !important;
}

.promo h6 {
  font-weight: 500;
  color: #fff;
}

.promo h4 {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.promo small {
  color: #fff;
}

.btn-outline-primary {
  border-radius: 10px;
}

a.offer-outlet .expiry-date-offer p {
  margin-bottom: 0;
  margin-top: 10px;
}

.ng2-flatpickr-input-container input {
  background: #fff !important;
}

.promo.banner-image {
  background: none;
  padding: 0;
}

.promo.banner-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.banner-content-body {
  padding: 20px 25px;
  text-align: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  border-radius: 15px 15px 0px 0px;
}

.banner-content-body h4 {
  margin-top: 15px;
}

.add-category-form {
  width: 50%;
  margin: 0 auto;
}

.preview-image img {
  border-radius: 4px;
  height: 88px;
  width: 200px;
  object-fit: cover;
}

.preview-image {
  border: 1px dashed #d8d6de;
  border-radius: 4px;
}

.preview-image span {
  margin-left: 10px;
}

.preview-image.categary-image img {
  height: 90px;
  border-radius: 4px;
}

.product-view-box img {
  height: 200px;
  margin-top: 15px;
  border-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 20px;
}

.product-view-box p {
  margin: 10px 0px;
}

// modal

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 400px;
  height: 100%;
  border-radius: 0;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.right .modal-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0;
}

.right .modal-body {
  padding: 15px 15px 80px;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -400px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right .modal-header .close {
  transform: translate(-15px, 4px);
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.product-view-box button {
  width: 170px;
}

// left modal

// modal

.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 80%;
  height: 100%;
  border-radius: 0;
  transform: translate3d(0%, 0, 0);
  max-width: 78%;
}

.left .modal-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0;
}

.left .modal-body {
  padding: 15px 15px 80px;
}

/*left*/
.modal.left.fade .modal-dialog {
  left: -250px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.left .modal-header .close {
  transform: translate(-15px, 4px);
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

.btn-add-variant {
  padding: 8px 10px;
  transform: translate(195px, -5px);
  border-radius: 8px;
}

.card.variant-box {
  position: relative;
  border-radius: 15px;
}

.card.variant-box button.btn.btn-variant-edit {
  position: absolute;
  left: 0;
  top: 0;
  color: #1b9b37;
  padding: 10px 15px;
  background: rgb(132 197 146 / 53%);
  border-radius: 15px 0px 45px 0px;
}

.card.variant-box button.btn.btn-variant-delete {
  position: absolute;
  top: 0;
  right: 0;
  color: #e73636;
  background: #f5c8c8;
  padding: 10px 15px;
  border-radius: 0px 15px 0px 45px;
}

.add-outlet-form {
  width: 80%;
  margin: 0 auto;
}

button.btn-select-cuisine {
  width: 200px;
}

.cuisine-img {
  text-align: center;
}

.cuisine label {
  font-size: 11px;
  color: #000;
  margin-top: 2px;
}

.cuisine {
  text-align: center;
  margin-bottom: 10px;
}

.cuisine .form-check {
  margin-top: 10px;
  margin-right: 0;
}

.btn-link {
  font-weight: 400;
  color: #3e88eb !important;
  text-decoration: none;
}

.auth-wrapper.auth-v2 .brand-logo {
  position: absolute;
  top: 2rem;
  left: 0 !important;
  margin: 0;
  z-index: 1;
}

.login-wrapper {
  width: 60%;
  margin: 100px auto 0 auto;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px;
  background: url(../images/pages/login-round-bg.png);
  background-repeat: no-repeat;
}

.login-section {
  padding: 50px;
}

.login-section input,
.login-section select,
.login-section button {
  border-radius: 10px;
  height: 45px;
}

.login-section h2.card-title span {
  color: #3e88eb;
}

.login-wrapper img {
  height: 500px;
}

// .login-wrapper:after {
// 	position: absolute;
// 	content: "";
// 	background: #dfeefd;
// 	height: 200px;
// 	width: 200px;
// 	bottom: 0;
// 	left: -100px;
// 	z-index: -1;
// 	border-radius: 100% 100% 100% 100%;
// }

.login-wrapper:before {
  position: absolute;
  content: "";
  background: #dfeefd;
  height: 200px;
  width: 200px;
  top: 0;
  right: -100px;
  z-index: -1;
  border-radius: 100% 100% 100% 100%;
}
.btn-outline-danger {
  border-radius: 10px;
}

ul.outlet-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.outlist-main {
  border-left: 1px solid #ddd;
  padding: 10px 15px;
  height: 100%;
}
ul.outlet-list li {
  margin-bottom: 10px;
}
ul.outlet-list li a {
  font-weight: 500;
}
.card.card-profile .card-body {
  padding: 15px 25px;
  border: none;
}
.outlet-name-details {
  margin-top: 60px;
}

.card.card-user-timeline.view-details {
  position: fixed;
  width: 48%;
}
.card.view-details {
  position: fixed;
  width: 48%;
}

// responsive
@media screen and (max-width: 575px) {
  .login-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }

  .login-wrapper img {
    height: auto;
  }

  .login-section {
    padding: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .login-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }

  .login-wrapper img {
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .login-wrapper {
    width: 90%;
    padding: 0;
    margin: 100px auto 0 auto;
  }

  .login-wrapper img {
    height: 410px;
  }

  .login-section {
    padding: 30px 20px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .login-wrapper {
    width: 90%;
    padding: 0;
    margin: 100px auto 0 auto;
  }
}
