<div class="content-wrapper container-fluid p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- home page content start -->
        <section id="users-page">


            <div class="row">
                <!-- Dynamic data Card -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="user-image">
                                <img src="assets/images/pages/users/cust.svg" alt="">
                            </div>
                            <div class="user-content">
                                <h2 class="font-weight-bolder mb-0">Customer</h2>
                                <p class="card-text">10 New Customer</p>
                                
                                <div class="progress-wrapper">
                                    <ngb-progressbar [value]="progressValue"   class="custom-progress"></ngb-progressbar>


                                </div>

                                <div class="view-btn">
                                    <a href="" class="btn color" routerLink="/userType/customer">View Details</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="user-image">
                                <img src="assets/images/pages/users/seller.svg" alt="">
                            </div>
                            <div class="user-content">
                                <h2 class="font-weight-bolder mb-0">Merchant</h2>
                                <p class="card-text">10 New Merchant</p>
                                <div class="progress-wrapper">
                                    
                                    <ngb-progressbar type="primary" [value]="10"></ngb-progressbar>
                                  </div>

                                <div class="view-btn">
                                    <a href="" class="btn color1" routerLink="/userType/customer">View Details</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="user-image">
                                <img src="assets/images/pages/users/delivery-truck.svg" alt="">
                            </div>
                            <div class="user-content">
                                <h2 class="font-weight-bolder mb-0">Delivery Partner</h2>
                                <p class="card-text">10 New Delivery Partner</p>
                                <div class="progress-wrapper">
                                    
                                    <ngb-progressbar type="primary" [value]="10"></ngb-progressbar>
                                  </div>

                                <div class="view-btn">
                                    <a href="" class="btn color2" routerLink="/userType/customer">View Details</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="user-image">
                                <img src="assets/images/pages/users/headphone.svg" alt="">
                            </div>
                            <div class="user-content">
                                <h2 class="font-weight-bolder mb-0">Agent</h2>
                                <p class="card-text">10  New Agent</p>
                                <div class="progress-wrapper">
                                    
                                    <ngb-progressbar type="primary" [value]="10"></ngb-progressbar>
                                  </div>

                                <div class="view-btn">
                                    <a href="" class="btn color3" routerLink="/userType/customer">View Details</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!--/ Dynamic data Card -->
            </div>

        </section>
        <!-- home page contentend -->
    </div>
</div>