.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
    line-height: 24px;
    color: white;
}
.ngx-datatable.bootstrap.core-bootstrap .datatable-header {
    background-color: #69a2ef;
    text-transform: uppercase;
    height: 40px !important;
    border-top: 1px solid #ffffff;
}
.datatable-header-cell-wrapper span {
    color: white;
}
